@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-theme.css";
@import "./typography.css";

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}
